<html>
    <body>
        <h1>Selected Employee</h1>
    
        <%= form_for @changeset, live_path(@socket, :update_employee, @employee.id), fn f -> %>
        <label for="Name">Name</label>
        <%= text_input f, :name, placeholder: "Name" %> <br>
        <label for="Location">Location</label>
        <%= text_input f, :location, placeholder: "Location" %> <br>
        
        <%= submit "Update User", class: "btn" %>
        <% end %>
    
    </body>
</html>